.~lock.Kovol_lexicon.ods#
Kovol_Lexicon.html
iski dic/Kwanga - Lexicon.xlsx
iski dic/Kwanga - Spelling and Pronunciation Guide.docx
iski dic/kwanga.dic
iski dic/kwanga.py
iski dic/jquery-2.1.4.min.js
iski dic/lexicon.html
iski dic/lexicon.py
iski dic/lexiconScript.js
iski dic/lexiconStyle.css
__pycache__/lexicon.cpython-38.pyc
/.idea/
/lexicon_config.py
/local_sync.sh
/local_verb_prediction.sh
/runner.py
