.wrapper {
    display: flex;
    width: 100%;
}

#dictionary_sidebar {
    width: 25px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #17a2b8;
    color: #fff;
}

#main_pane {
    padding: 0px;
    margin-left: 25px;
}

@media only screen and (max-width: 600px) {
  dictionary_sidebar {
  
  }
}