.wrapper {
    display: flex;
    width: 100%;
}

#dictionary_sidebar {
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    background: #6aadb8;
    color: #fff;
}

#main_pane {
    padding: 0px;
    margin-left: 175px;
}

@media only screen and (max-width: 600px) {

  #main_pane{
  margin-left: 5px;
  }
}