{# A printable page containing dictionary entries that need checking. Requires context, new_entries and new_senses
to be passed in #}

{% extends 'partial/base.html' %}
{% block page_content %}
<h1>Check list</h1>
<h2>New words</h2>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Phonetics</th>
        <th scope="col">Correction?</th>
        <th scope="col">English</th>
        <th scope="col">Tpi</th>
        <th scope="col">POS</th>
        <th scope="col">Tag</th>
    </tr>
    {% for word in new_entries %}
    <tr>
        <td>{{word.id}}</td>
        <td>{{word.phon}}</td>
        <td></td>
        <td>"{{word.eng}}"</td>
        <td>"{{word.tpi}}"</td>
        <td>{{word.pos}}</td>
        <td>{{word.tag}}</td>
    </tr>
    {% endfor %}
</table>

<h2>New senses to words</h2>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Phonetics</th>
        <th scope="col">Correction?</th>
        <th scope="col">English</th>
        <th scope="col">Tpi</th>
        <th scope="col">POS</th>
        <th scope="col">Tag</th>
    </tr>
    {% for word in new_senses %}
    <tr>
        <td>{{word.id}}</td>
        <td>{{word.phon}}</td>
        <td></td>
        <td>"{{word.eng}}"</td>
        <td>"{{word.tpi}}"</td>
        <td>{{word.pos}}</td>
        <td>{{word.tag}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}