{# Main page for creating normal or reverse dictionary pages. Requires letters (a list of initial letters),
entries (a tuple of (headword, dict of entry info)) and context (date, title and a marker if reverse dict is intended)
to be passed in. #}

{% extends 'partial/base.html' %}
{% block page_content %}
<div class="wrapper">
    {% include 'partial/sidebar.html' %}
    <div class="container-fluid" id="main_pane">
        {% include 'partial/header.html' %}

        <div id="entries" class="container-fluid">
        {% for letter in letters %}
            <div class="container-fluid letter">
                <hr><h1 id="{{letter}}">{{letter}}</h1><hr>
            </div>

            {% for column in entries|slice(2) %}
                <div class="row ">
                    {% for entry in column %}
                    {%- if entry.headword[0] == letter -%}
                        <div class="entry col-sm-6 border-right">
                            {%- if context.dict_type -%}
                            {% include 'partial/reverse_entry.html' %}
                            {%- else -%}
                            {% include 'partial/entry.html' %}
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {% endfor %}
                    </div>
            {% endfor %}
        {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
