{# base template containing html head data #}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="New Tribes Mission">

<!--    Reference a local copy of bootstrap in case off line-->
    <link rel="stylesheet" type="text/css" href="{{context.bootstrap}}/css/bootstrap.min.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
    <script src="{{context.jquery}}/jquery-3.4.1.min.js"></script>
    <script src="{{context.bootstrap}}/js/bootstrap.min.js"></script>
    <link href="{{context.fontawesome}}/css/all.css" rel="stylesheet">

    <title>{{context.title}}</title>
</head>

<body>
{% include 'partial/header.html' %}
{% block page_content %}
{% endblock %}
<footer class="footer text-center bg-dark fixed-bottom py-2">
    <a class="text-light" href="#top">Jump to top</a>
</footer>
</body>
</html>