{# template for a lang-eng entry. Includes sense information #}

<h3>{{entry.headword}}</h3>
{% if entry.orth_prediction %}
    <p {% if entry.orth_prediction[1] %} class="text-danger" {% endif%} data-toggle="tooltip" data-placement="right" title="Suggested orthography">
        ({{ entry.orth_prediction[0] }})
    {% if entry.orth_prediction[1] %} Phonemics error: {{ entry.orth_prediction[1] }} {% endif %} </p>
{% endif %}
{% for sense in entry.entry %}
    <p>
    {{sense.sense}} <strong>{{sense.pos}}</strong> [{{sense.phonetics}}]
    <strong><em style="color:dodgerblue">{{sense.english}}</em></strong>
    <strong style="color:gray">{{sense.tok_pisin}}</strong>
    </p>
    {%- if sense.definition -%}
        <ul>{{sense.definition}}</ul>
    {%- endif -%}

    {%- if sense.example -%}
        <dl class="row">
        <dt class="col-sm-1">{{sense.example}}</dt>
        <dd class="col-sm-1">{{sense.example_translation}}</dd>
        </dl>
    {%- endif -%}
{% endfor %}