<script>
        $('#filter, #small_filter').keyup(function () {
           $('#filter, #small_filter').val(this.value);
            var filter = this.value.toLowerCase();


<!--          $('.letter').each(function() {-->
<!--                $(this).hide();-->
<!--                });-->

<!--            $('#letters').hide();-->

            $('.entry').each(function() {
                var _this = $(this);
                var headword = _this.find('.headword, .english').text().toLowerCase();

                if (headword.indexOf(filter) < 0) {
                    _this.hide();
                    }
                    else if(filter == ""){
                        _this.show();
                    }
                    else{
                        _this.show();
                        }
                 });

            });</script>