{# The top nav bar including optional search for small viewports #}

<div class="container-fluid p-3 mb-2 bg-info text-white">
    <h1>{{context.language}} Lexicon</h1>
    <p>Updated {{context.date}} </p>
</div>

<!--Search bar for small viewports-->
<div class="d-md-none">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input type="text" id="small_filter" name="filter" placeholder="Type to search"
                 aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
                <div class="custom-control custom-switch my-auto">
                  <input type="checkbox" class="custom-control-input" id="lang_switch">
                  <label class="custom-control-label mr-2" for="lang_switch">Eng</label>
                </div>
            </div>
        </div>
    </div>
{% include 'partial/filter_js.html' %}
</div>
{% if errors %}
<div errors class="container-fluid">
    <a href="errors.html">Errors in the data have been identified</a>
</div>
{% endif %}
