{# sidebar that has a search bar, and hyperlinks to jump to parts of the document. Not visible on small viewports
through css #}

<div class="d-none d-md-block">
    <nav id="dictionary_sidebar" class="bg-info">
<!--        Searchbar for large viewports-->
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="text" id="filter" name="filter" placeholder="Type to search"
                     aria-describedby="button-addon1" class="form-control border-0 bg-light">
            </div>
          </div>
        <a href="check_list.html" class="text-light">See checklist</a>
        <hr>
        <div id="letters">
            <div class="row">
                <div class="col-sm-1">
                    <div class="btn-group-vertical">
                        {% for letter in letters %}
                        {% if loop.index <= half_letters %}
                         <button type="button" class="btn btn-light p-1 mx-1"><a href="#{{letter}}" class="text-dark text-center">{{letter}}</a></button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="btn-group-vertical">
                        {% for letter in letters %}
                        {% if loop.index > half_letters %}
                         <button type="button" class="btn btn-light p-1 mx-1"><a href="#{{letter}}" class="text-dark text-center">{{letter}}</a></button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>$('#filter').keyup(function () {
            var filter = this.value.toLowerCase();

            $('.letter').each(function() {
                $(this).hide();
                });

            $('#letters').hide();

            $('.entry').each(function() {
                var _this = $(this);
                var headword = _this.find('h3').text().toLowerCase();

                if (headword.indexOf(filter) < 0) {
                    _this.hide();
                    }
                    else if(filter == ""){
                        _this.show();
                    }
                    else{
                        _this.show();
                        }
                 });

            });</script>
    </nav>
</div>