{# sidebar that has a search bar, and hyperlinks to jump to parts of the document. Not visible on small viewports
through css #}

<div class="d-none d-md-block">
    <nav id="dictionary_sidebar" class="bg-info text-center">
<!--        Searchbar for large viewports-->
        <div class="p-1 my-2 bg-light rounded rounded-pill shadow-sm">
            <div class="input-group">
              <input type="text" id="filter" name="filter" placeholder="Search"
                     aria-describedby="button-addon1" class="form-control border-0 mx-1 bg-light">
            </div>
          </div>
        <div id="radio-group" class="border">
            <div class="form-check text-white">
              <input class="form-check-input" type="radio" name="radio_select" id="kovol_radio" value="Kovol" checked>
              <label class="form-check-label" for="kovol_radio">Kovol</label>
            </div>
            <div class="form-check text-white">
              <input class="form-check-input" type="radio" name="radio_select" id="english_radio" value="English">
              <label class="form-check-label" for="english_radio"> English</label>
            </div>
        </div>
        <a href="check_list.html" class="text-light my-1">Checklist</a>
        <hr>
    </nav>
</div>